.outer{
    width:100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 24%;
    height: 12vh;
    display: flex;
    justify-content: center;
}
.btw{
    width: 45%;
    height: 12vh;
}
.login{
    width: 15%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.button{
    border: 1px solid #ff9400;
    background-color: #ff9400;
    color:#fff;
    padding: 6px 35px;
    border-radius: 5px;

}
.button:hover{
    border: 1px solid #fed206;
    background-color: #fed206;
}